<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== References ==========  -->
    <link rel="stylesheet" href="./../public/css/profileStyle.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="./../public/js/login.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hire a tutor</title>
    
</head>

<header>
        
    <div class="limiter">
        <div class="container">
            <div class="wrap-nav">
                <div class="img-nav">
                    <div class="img-logo">
                        <img src="./../public/img/logoHireATutorText.png" alt="">
    
                    </div>
                    <div class="nav">
                        <ul>
                            <li class="navButtons">
                                <a href="">All courses</a>
                            </li>
                            <li class="navButtons">
                                <a href="">My courses</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wrap-search">
                        <input class="input-search" type="text" placeholder="Search for any course">
                        <span class="icon-search">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    
                </div>
                
                <div class="wrap-profile">
                    <div class="profile-name">
                        <span>Welcome Vicente!</span>
                    </div>
                    <div class="btn-profile">
                        <button>
                            <span class="btn-icon">
                                <i class="fas fa-user"></i>
                                <i class="fas fa-caret-down"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<body>

    <div class="limiter">
        <div class="container-login">
            <div class="wrap-login">

                <div class="logo-login">
                    <img src="./../public/img/logoHireATutor.png" alt="img">
                </div>

                <!--  ================== FORM TO EDIT ACCOUNT DETAILS ================== -->

                <form class="signup-form">

                    <span class="login-form-title">
						Edit your account detials
					</span>

                    <div class="wrap-login-form">
                        <input type="text" id="txt-name" class="txt-login" placeholder="Name" name="name"> 
                        <span id="icon-name" class="icon-login">
                            <i class="fas fa-user"></i>
                        </span>

                        <div class="wrap-validation" id="wrap-name">
                            <span>
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Name is missing.</span>
                        </div>
                    </div>

                    <div class="wrap-login-form">
                        <input type="text" id="txt-last-name" class="txt-login" placeholder="Last name" name="lastName">  
                        <span id="icon-lastName" class="icon-login">
                            <i class="fas fa-user"></i>
                        </span>

                        <div class="wrap-validation" id="wrap-lastName">
                            <span>
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Last name is missing.</span>
                        </div>
                    </div>

                    <div class="wrap-login-form">
                        <input type="text" id="txt-email-signup" class="txt-login" placeholder="Email" name="email">  
                        <span id="icon-email-signup" class="icon-login">
                            <i class="fas fa-envelope"></i>
                        </span>

                        <div class="wrap-validation" id="wrap-email-signup">
                            <span>
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Email is missing.</span>
                        </div>
                    </div>
                    

                    <div class="wrap-radio-form">

                        <div class="radio-professor">
                            <span class="icon-login-radio">
                                <i class="fas fa-user-tie"></i>
                            </span>
    
                            <input type="radio" name="role" value="1" id="rb-professor">
                            <span>Professor</span>
                        </div>

                        <div class="student">
                            <span class="icon-login-radio">
                                <i class="fas fa-user-graduate"></i>
                            </span>
    
                            <input type="radio" name="role" value="0" id="rb-student">
                            <span>Student</span>
                        </div> 
                    </div>
                    <div class="wrap-validation" id="wrap-profOrStudent">
                        <span>
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Select if you are a professor or a student.</span>
                    </div>
    
                    <div class="wrap-btn-login" id="btn-sign-up">
                        <button type="submit" class="btn-login">
                            C O N F I R M
                        </button>
                    </div>

                </form>

            </div>

            
        </div>
    </div>
    
</body>
</html>