<%- include ("./templates/headerHome") %>

    <div class="container-all-courses">
        <div class="wrap-all-courses">
            
        </div>
    </div>

<%- include ("./templates/footerLogin") %>