<%- include ("./templates/headerLogin") %>

<!--  ================== FORM FOR LOG IN ================== -->

<form action="/login" method="POST" class="login-form">

    <span class="login-form-title">
        L o g i n
    </span>

    <div class="wrap-login-form">
        <input type="text" id="txt-email" class="txt-login" placeholder="Email" name="email">   
        <span id="icon-email" class="icon-login">
            <i class="fas fa-envelope"></i>
        </span>

        <div class="wrap-validation" id="wrap-email">
            <span>
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <span>Email is missing.</span>
        </div>
    </div>
    

    <div class="wrap-login-form">
        <input type="password" id="txt-password" class="txt-login" placeholder="Password" name="password">
        <span id="icon-password" class="icon-login">
            <i class="fas fa-lock"></i>
        </span>    
        
        <div class="wrap-validation" id="wrap-password">
            <span>
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <span>Password is missing.</span>
        </div>
        <div class="wrap-validation" id="wrap-userOrPassInc">
            <span>
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <span>Email or password are incorrect.</span>
        </div>
    </div>

    <div class="wrap-btn-login">
        <button id="btn-sign-in" class="btn-login">
            L O G I N
        </button>
    </div>
    <script text="text/javascript">
        var message = "<%= message %>";
        console.log(message.length);
        if(message.includes("-1")) {
            swal("Oops!, Something went wrong", "The email provied is not registered!", "error");
        } else if(message.includes("0")) {
            swal("Oops!, Something went wrong", "The password is incorrect!", "warning");
        } else if(message.length > 2) {
            swal("Account create succesfully!", `Welcome ${message}!`, "success");
        }

    </script>
    <div class="login-footer">
        <span class="forgot">
            Forgot <a href="#" class="passOrUser">
                Username/Password?
            </a>
        </span>
        
    </div>

    <div class="wrap-create-account">
        <a href="/signup" class="create-account" id="create-account">
            Create your Account
            <i class="fas fa-long-arrow-alt-right"></i>
        </a>
    </div>
</form>

<%- include ("./templates/footerLogin") %>
