<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- ========== References of login.ejs ==========  -->
        <link rel="stylesheet" href="./../public/css/myCoursesStyle.css">
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Courses</title>
        
    </head>
<body>
    <!-- Header -->
    <header>

    </header>
    
    <h2>Your Courses</h2>
    <div class="container">
        <ul class="coursesList">
            <li class="course">
                <img src="./../public/img/logoHireATutor.png" class="courseImg">
                <p class="courseName">course Name</p>
            </li>
            <li class="course">
                <img src="./../public/img/logoHireATutor.png" class="courseImg">
                <p class="courseName">course Name</p>
            </li>
            <li class="course">
                <img src="./../public/img/logoHireATutor.png" class="courseImg">
                <p class="courseName">course Name</p>
            </li>
            <li class="course">
                <img src="./../public/img/logoHireATutor.png" class="courseImg">
                <p class="courseName">course Name</p>
            </li>
            <li class="course">
                <img src="./../public/img/logoHireATutor.png" class="courseImg">
                <p class="courseName">course Name</p>
            </li>
        </ul>
    </div>
</body>
</html>