<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== References of login.ejs ==========  -->
    <link rel="stylesheet" href="./../public/css/loginStyle.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="./../public/js/login.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hire a tutor</title>
    
</head>
<body>

    <div class="limiter">
        <div class="container-login">
            <div class="wrap-login">
                <div class="logo-login">
                    <img src="./../public/img/logoHireATutor.png" alt="img">
                </div>